
$bg: #262626;
$fg: #999999;
$highlight: #D0D0D0;
$borderColor: #7697AA;

$chartColor: #14736F;
$chartAlternativeColor: #005D81;
$chartAlternativeDarkColor: #002433;


// $basecolor: #282c34;
// $hightlight: #61dafb;

